<% content_for :head do %>
  <%= javascript_import_module_tag 'maps/index' %>
<% end%>

<%= render "shared/side_panel" %>

<div id="home" class="btn btn-secondary">
  <%= link_to 'Home', '/' %>
</div>

<div id='map'></div>