<div id="home_container">
  <div>asdasd</div>
  <div id="welcome_container">

    <div id="welcome_content">
      <h2>Welcome to..</h2>
    <div id="logo">
      <%= image_tag 'fmm_banner.png', id: 'fmm_banner' %>
    </div>
      <h3>Feel free to explore the map as guest</h3>
      <h3>Register or Login to save your favorites</h3>

    </div>
  </div>
</div>